<template>
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Asistencias
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto relative overflow-x-auto shadow-md sm:rounded-lg">
                <div class="flex items-center justify-between p-4 bg-white dark:bg-gray-800">

                    <button type="button" @click="toggleRegisterAttendanceModal"
                        class="inline-flex items-center text-white bg-lime-500 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-lime-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        <img class="mr-2" src="https://img.icons8.com/material-sharp/24/FFFFFF/emergency-exit.png" alt=""
                            srcset="">
                        Registrar ingreso/salida
                    </button>

                    <!--SELECTOR DE FECHA-->
                    <div class="relative max-w-sm">
                        <input id="fecha_asistencia" v-model="form.search" @input="getAttendance" type="date"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>

                </div>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="p-4">

                            </th>
                            <th scope="col" class="px-6 py-3">
                                empleado
                            </th>
                            <th scope="col" class="px-6 py-3">
                                hora de ingreso
                            </th>
                            <th scope="col" class="px-6 py-3">
                                hora de salida
                            </th>
                            <th scope="col" class="px-6 py-3">
                                horas trabajadas
                            </th>
                            <th scope="col" class="px-6 py-3">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="attendanceStore.attendances.date">
                            <tr v-for="empleado in attendanceStore.attendances.date.attendances"
                                class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">

                                <td class="w-4 p-4">
                                    <div class="flex items-center">
                                        <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                                    </div>
                                </td>

                                <th scope="row"
                                    class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <img v-if="empleado.entry_photo" class="w-10 h-10 rounded-full"
                                        :src="empleado.entry_photo" alt="Jese image">
                                    <img v-else class="w-10 h-10 rounded-full"
                                        src="https://img.icons8.com/3d-fluency/94/guest-male--v2.png" alt="guest-male--v2">
                                    <div class="pl-3">
                                        <div class="text-base font-semibold">
                                            {{ empleado.employee.name + " " + empleado.employee.last_name }}
                                        </div>
                                    </div>
                                </th>

                                <td class="px-6 py-4">
                                    {{ empleado.entry_time }}
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center">

                                        {{ empleado.exit_time ? empleado.exit_time : "no registrada" }}
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    {{ empleado.worked_hours ? empleado.worked_hours : "no registrada" }}

                                </td>
                                <td class="px-6 py-4">
                                    <button type="button" @click="toggleRegisteredAttendanceModal(empleado)"
                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                        Ver
                                    </button>
                                </td>
                            </tr>
                        </template>

                    </tbody>
                </table>
                <template v-if="attendanceStore.attendances.date">
                    <template v-if="attendanceStore.attendances.date.attendances">
                        <p v-if="attendanceStore.attendances.date.attendances.length == 0"
                            class="p-4 bg-white text-gray-500 dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                            No hay resultados para la busqueda
                        </p>

                    </template>
                </template>
                <RegisterAttendanceModal :show="showRegisterAttendanceModal"
                    @toggle-modal="toggleRegisterAttendanceModal" />
                <ViewRegisteredAttendanceModal :empleado="attendanceToView" :show="showViewRegisteredAttendanceModal"
                    @toggle-modal="toggleRegisteredAttendanceModal"/>
            </div>

        </div>


    </AuthenticatedLayout>
</template>
<script setup>
import { onMounted, ref } from 'vue';
import { useAttendanceStore } from '../../stores/AttendanceStore'
import AuthenticatedLayout from '../../layaouts/AuthenticatedLayout.vue';
import RegisterAttendanceModal from './RegisterAttendanceModel.vue';
import ViewRegisteredAttendanceModal from './ViewRegisteredAttendanceModal.vue';

const attendanceStore = useAttendanceStore();

const attendanceToView = ref({});

const showRegisterAttendanceModal = ref(false);
const showViewRegisteredAttendanceModal = ref(false);


const form = {
    search: ""
}

const getAttendance = async () => {
    await attendanceStore.getAttendances(form);
}

const toggleRegisterAttendanceModal = () => {
    showRegisterAttendanceModal.value = !showRegisterAttendanceModal.value;
}

const toggleRegisteredAttendanceModal = (attendance) => {
    attendanceToView.value = attendance;
    showViewRegisteredAttendanceModal.value = !showViewRegisteredAttendanceModal.value;
}

const getCurrentDate = () => {
    const currentDate = new Date();
    form.search = currentDate.toLocaleDateString('zh-Hans-CN').replaceAll('/', '-');
}

onMounted(() => {
    getCurrentDate();
    getAttendance();
})
</script>