<template>
    <!-- Edit user modal -->
    <Modal @close="toggleModal">
        <!-- Modal content -->
        <form @submit.prevent="registerAttendance" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Registrar ingreso/salida
                </h3>
                <button @click="toggleModal" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">

                <!-- ERRORES
                -->
                <div v-if="errors">
                    <template v-for="(error, key) in errors">
                        <template v-for="(message, key) in error">
                            <ErrorLabel :message="message" />
                        </template>
                    </template>
                </div>


                <div class="">
                    <label for="cedula" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Cedula
                    </label>
                    <input v-model="form.id_card" name="cedula" id="cedula"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="100110101" required>
                </div>


                <div>
                    <label for="file_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Foto
                    </label>
                    <div class="flex flex-rowitems-center justify-center w-full">
                        <input @change="handleFileUpload"
                            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-500 dark:placeholder-gray-400"
                            id="file_input" type="file" accept="image/*">
                    </div>
                </div>

            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save
                    all</button>
            </div>
        </form>
    </Modal>
</template>
<script setup>
import {ref} from 'vue';
import Modal from '../../components/Modal.vue'
import ErrorLabel from '../../components/ErrorLabel.vue';
import { useAttendanceStore } from '../../stores/AttendanceStore';


const attendancesStore = useAttendanceStore();

const emit = defineEmits(['toggle-modal']);

const form = {
    id_card: "",
    photo: null
};

const errors = ref([]);

const registerAttendance = async () => {
    await attendancesStore.registerAttendance(form)
    .then(() => toggleModal())
    .catch((error) => errors.value = error.response.data.errors);
    await attendancesStore.getAttendances({});
    
}

const eventToggleModal = () => {
    emit('toggle-modal');
}

const toggleModal = () => {
    eventToggleModal();
}

const handleFileUpload = (event) => {
    const file = event.target.files[0];
    if (file) {
        form.photo = file;
    }
};

</script>



