<script setup>
import Modal from '../../components/Modal.vue'

const emit = defineEmits(['toggle-modal']);

const props = defineProps({
    empleado: Object
});


const eventToggleModal = () => {
    emit('toggle-modal');
}

const toggleModal = () => {
    eventToggleModal();
}


</script>

<template>
    <!-- Edit user modal -->
    <Modal @close="toggleModal">

        <!-- Modal header -->
        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                {{ empleado.employee.name + " " + empleado.employee.last_name }}
            </h3>
            <button @click="toggleModal" type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <p>
        </p>
        <div class="p-6 space-y-6">
            
            <div>
                <p class="font-normal text-gray-500">foto de entrada</p>
                <img v-if="props.empleado.entry_photo" class="h-auto max-w-full rounded-lg" :src="props.empleado.entry_photo" alt="">
            </div>

            <div>
                <p class="font-normal text-gray-500">foto de salida</p>
                <img v-if="props.empleado.exit_photo" class="h-auto max-w-full rounded-lg" :src="props.empleado.exit_photo" alt="">
            </div>
            
        </div>
        
        <div class="flex justify-between px-6  font-normal text-gray-500 dark:text-gray-400">
            <p class="">
                Hora Ingreso:
            </p>
            <p class="">
                {{ empleado.entry_time }}
            </p>
        </div>
        
        <div class="flex justify-between px-6  font-normal text-gray-500 dark:text-gray-400">
            <p class="">
                Hora Salida:
            </p>
            <p class="">
                {{ empleado.exit_time ? empleado.exit_time : "no registrada" }}
            </p>
        </div>
        
        
        <div class="flex justify-between px-6  font-normal text-gray-500 dark:text-gray-400">
            <p class="">
                Horas Trabajadas:
            </p>
            <p class="">
                {{ empleado.worked_hours ? empleado.worked_hours : "no registrada" }}
            </p>
        </div>
        
        <div class="flex justify-between px-6  font-normal text-gray-500 dark:text-gray-400">
            <p class="">
                Cedula:
            </p>
            <p class="">
                {{ empleado.employee.id_card }}
            </p>
        </div>
        
        
        <div class="flex justify-between px-6  font-normal text-gray-500 dark:text-gray-400">
            <p class="">
                Cargo:
            </p>
            <p class="">
                {{ empleado.employee.position }}
            </p>
        </div>
        
        
        <div class="flex justify-between px-6  font-normal text-gray-500 dark:text-gray-400">
            <p class="">
                Correo:
            </p>
            <p class="">
                {{ empleado.employee.email }}
            </p>
        </div>
        
        <div class="flex justify-between px-6  font-normal text-gray-500 dark:text-gray-400">
            <p class="">
                Telefono:
            </p>
            <p class="">
                {{ empleado.employee.address }}
            </p>
        </div>
        
        <!-- Modal footer -->
        <div class="flex items-center p-6 mt-2 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
            <button type="submit" @click="toggleModal"
                class="text-white bg-lime-500 hover:bg-lime-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Cerrar
            </button>
        </div>

    </Modal>
</template>




