<script setup>
import { watchEffect, ref } from 'vue';
import Modal from '../../components/Modal.vue'
import ErrorLabel from '../../components/ErrorLabel.vue';
import { useEmployeeStore } from '../../stores/EmployeeStore';

const employeeStore = useEmployeeStore();

const props = defineProps({
    update: Boolean,
    employee: Object
});

const emit = defineEmits(['toggle-modal']);

const form = {
    name: "",
    last_name: "",
    id_card: "",
    position: "",
    email: "",
    address: "",
    photo: null
}

const errors = ref([]);

const storeEmployee = async () => {
    await employeeStore.createEmployee(form)
    .then(() =>  toggleModal())
    .catch((error) => errors.value = error.response.data.errors);
    await employeeStore.getEmployees({});
   
}

const updateEmployee = async () => {
    await employeeStore.updateEmployee(props.employee.id, form);
    await employeeStore.getEmployees({});
    toggleModal();
}

const eventToggleModal = () => {
    emit('toggle-modal');
}

const toggleModal = () => {
    eventToggleModal();
}

const handleFileUpload = (event) => {
    const file = event.target.files[0];
    if (file) {
        form.photo = file;
    }
};

watchEffect(() => {
    if (props.update && props.employee) {
        Object.assign(form, props.employee);
    }
});

</script>

<template>
    <!-- Edit user modal -->
    <Modal @close="toggleModal">
        <!-- Modal content -->
        <form @submit.prevent="props.update ? updateEmployee() : storeEmployee()"
            class="relative bg-white rounded-lg shadow dark:bg-gray-700" action="" method="POST">

            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Registrar empleado
                </h3>
                <button @click="toggleModal" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">

                <div v-if="errors">
                    <template v-for="(error, key) in errors">
                        <template v-for="(message, key) in error">
                            <ErrorLabel :message="message" />
                        </template>
                    </template>
                </div>

                <div class="grid grid-cols-6 gap-6">

                    <div class="col-span-6 sm:col-span-3">
                        <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Nombres
                        </label>
                        <input v-model="form.name" type="text" name="first-name" id="first-name"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Bonnie" required>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Apellidos
                        </label>
                        <input v-model="form.last_name" type="text" name="last-name" id="last-name"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Green" required>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="cedula" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Cedula
                        </label>
                        <input v-model="form.id_card" name="cedula" id="cedula"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="100110101" required>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="phone-number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Cargo
                        </label>
                        <input v-model="form.position" name="phone-number" id="phone-number"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="e.g. +(12)3456 789" required>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Correo
                        </label>
                        <input v-model="form.email" type="email" name="department" id="department"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Development" required>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Telefono
                        </label>
                        <input v-model="form.address" type="text" name="company" id="company"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="123456" required>
                    </div>
                </div>

                <div>
                    <label for="file_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Foto
                    </label>
                    <div class="flex flex-rowitems-center justify-center w-full">
                        <input @change="handleFileUpload"
                            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-500 dark:placeholder-gray-400"
                            id="file_input" type="file" accept="image/*">
                    </div>
                </div>

            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button type="submit"
                    class="text-white bg-lime-500 hover:bg-lime-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Guardar
                </button>
            </div>
        </form>
    </Modal>
</template>




