<template>
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Empleados
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto relative overflow-x-auto shadow-md sm:rounded-lg">
                <div class="flex items-center justify-between p-4 bg-white dark:bg-gray-800">
                    <div>
                        <!-- Dropdown menu  -->
                        <Dropdown align="left" width="48">
                            <template #trigger>
                                <span class=" inline-flex rounded-md">

                                    <button type="button"
                                        class=" inline-flex items-center text-gray-500 border border-gray-300 px-3 py-2 text-sm leading-4 font-medium rounded-md hover:text-gray-700 focus:outline-none transition ease-in-out duration-150">
                                        Acciones
                                        <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </span>
                            </template>

                            <template #content>
                                <div class="py-1">
                                    <a @click="toggleCreateEmployeeModal"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                        Nuevo empleado
                                    </a>
                                </div>
                                <div class="py-1">
                                    <a @click="toggleReportEmployeeModal"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                        Empleado más puntual
                                    </a>
                                </div>
                            </template>
                        </Dropdown>

                    </div>
                    <label for="table-search" class="sr-only">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>

                        <input @input="searchEmployee" v-model="form.search" type="text" id="table-search-users"
                            class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Search for users">

                    </div>
                </div>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                nombre
                            </th>
                            <th scope="col" class="px-6 py-3">
                                cedula
                            </th>
                            <th scope="col" class="px-6 py-3">
                                cargo
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Telefono
                            </th>
                            <th scope="col" class="p-4">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="empleado in employeeStore.employees.employees"
                            class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row"
                                class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <img v-if="empleado.image_path" class="w-10 h-10 rounded-full" :src="empleado.image_path"
                                    alt="Jese image">
                                <img v-else class="w-10 h-10 rounded-full"
                                    src="https://img.icons8.com/3d-fluency/94/guest-male--v2.png" alt="guest-male--v2">
                                <div class="pl-3">
                                    <div class="text-base font-semibold">{{ empleado.name + " " + empleado.last_name }}
                                    </div>
                                    <div class="font-normal text-gray-500">{{ empleado.email }}</div>
                                </div>
                            </th>
                            <td class="px-6 py-4">
                                {{ empleado.id_card }}
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex items-center">

                                    {{ empleado.position }}
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                {{ empleado.address }}
                            </td>
                            <td class="px-6 py-4">
                                <button type="button" @click="toggleUpdateEmployeeModal(empleado)"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                    Actualizar
                                </button>
                                <button type="button" @click="deleteEmployee(empleado.id)"
                                    class="font-medium ml-2 text-red-600 dark:text-blue-500 hover:underline">
                                    Eliminar
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <p v-if="employeeStore.employees.employees == 0"
                    class="p-4 bg-white text-gray-500 dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                    No hay resultados para la busqueda
                </p>
                <Create :show="showUpdateEmployeeModal" :update="true" :employee="selectedUpdateEmployee"
                    @toggle-modal="toggleUpdateEmployeeModal" />
                <Create :show="showCreateEmployeeModal" :update="false" @toggle-modal="toggleCreateEmployeeModal" />
                <EmployeeReport :show="showReportEmployeeModal" :employee="employeeReportEmployee"
                    @toggle-modal="toggleReportEmployeeModal" />
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script setup>
import _ from 'lodash';
import { ref, onMounted } from 'vue';
import { useEmployeeStore } from '../../stores/EmployeeStore';
import Create from './Create.vue';
import AuthenticatedLayout from '../../layaouts/AuthenticatedLayout.vue';
import Dropdown from '../../components/Dropdown.vue';
import EmployeeReport from './EmployeeReport.vue';

const employeeStore = useEmployeeStore();

const form = {
    search: ""
}

const selectedUpdateEmployee = ref({});
const employeeReportEmployee = ref({});

const showCreateEmployeeModal = ref(false);
const showUpdateEmployeeModal = ref(false);
const showReportEmployeeModal = ref(false);


const toggleCreateEmployeeModal = () => {
    showCreateEmployeeModal.value = !showCreateEmployeeModal.value;
}

const toggleUpdateEmployeeModal = (employee) => {
    showUpdateEmployeeModal.value = !showUpdateEmployeeModal.value;
    selectedUpdateEmployee.value = employee;
}

const toggleReportEmployeeModal = () => {
    getEmployeeReport();
    showReportEmployeeModal.value = !showReportEmployeeModal.value;
}

const deleteEmployee = async (id) => {
    await employeeStore.deleteEmployee(id);
    await employeeStore.getEmployees({});
}

const getEmployeeReport = async () => {
    const response = await employeeStore.getEmployeeReport();
    employeeReportEmployee.value = response.data.employee;
}

const searchEmployee = _.debounce( async () => {
    await employeeStore.getEmployees(form);
}, 500);

onMounted(async () => {
    await employeeStore.getEmployees(form);
})

</script>