<template>
    <Modal @close="toggleModal">

        <div class="flex flex-col mt-4 items-center pb-10">
            <h1 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                EMPLEADOS MAS PUNTUAL
            </h1>
            <img class="w-24 h-24 mb-3 mt-2 rounded-full shadow-lg" :src="employee.image_path" alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                {{ employee.name + " " + employee.last_name }}
            </h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">
                {{ employee.position }}
            </span>
            
            <span class="text-sm text-gray-500 dark:text-gray-400">
                {{ employee.email }}
            </span>
             
            <span class="text-sm text-gray-500 dark:text-gray-400">
                {{ employee.address }}
            </span>

            <span class="text-sm text-gray-500 dark:text-gray-400">
                {{  employee.entry_count + ' asistencia' }}
            </span>

            <span class="text-sm text-gray-500 dark:text-gray-400">
                {{  convertToMinutes(employee.closest_entry_time_diff) + ' minutos de diferencia' }}
            </span>
            
        </div>

    </Modal>
</template>

<script setup>
import Modal from '../../components/Modal.vue'

const props = defineProps({
    employee: Object
});

const emit = defineEmits(['toggle-modal']);

const eventToggleModal = () => {
    emit('toggle-modal');
}

const toggleModal = async () => {
    eventToggleModal();
}

const convertToMinutes = (milliseconds) => {
  return Math.floor(milliseconds / 60000); 
};

</script>
