<script setup>
import { ref, onMounted } from 'vue';
import NavLink from '../components/NavLink.vue';
import Dropdown from '../components/Dropdown.vue';
import ResponsiveNavLink from '../components/ResponsiveNavLink.vue';
import { useAuthStore } from '../stores/AuthStore';

const authStore = useAuthStore();

const showingNavigationDropdown = ref(false);

onMounted(async () => {
    await authStore.getUser();
});

const logout = async () => {
    await authStore.logout();
}

</script>

<template>
    <div>
        <div class="min-h-screen bg-gray-100">
            <nav class="bg-lime-500 border-b border-gray-100">
                <!-- Primary Navigation Menu -->
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex justify-between h-16">
                        <div class="flex">
                            <!-- Navigation Links -->
                            <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">

                                <NavLink to="/empleados" class="text-white">
                                    <img class="mr-2" src="https://img.icons8.com/metro/26/FFFFFF/conference-call.png"
                                        alt="groups" />
                                    Empleados
                                </NavLink>
                                <NavLink to="/asistencias" class="text-white">
                                    <img class="mr-2" src="https://img.icons8.com/metro/26/FFFFFF/checked-user-male.png"
                                        alt="groups" />
                                    Asistencias
                                </NavLink>
                            </div>
                        </div>

                        <div class="hidden sm:flex sm:items-center sm:ml-6 ">

                            <div class="ml-3 relative ">
                                <Dropdown align="right" width="48">
                                    <template #trigger>
                                        <span class=" inline-flex rounded-md">

                                            <button v-if="authStore.user.data" type="button"
                                                class=" inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-lime-500 hover:text-gray-700 focus:outline-none transition ease-in-out duration-150">
                                                {{ authStore.user.data.name }}
                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd"
                                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                        </span>
                                    </template>

                                    <template #content>
                                        <a @click="logout"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            Salir
                                        </a>
                                    </template>
                                </Dropdown>
                            </div>

                        </div>

                        <!-- Hamburger   -->
                        <div class="-mr-2 flex items-center sm:hidden">
                            <button @click="showingNavigationDropdown = !showingNavigationDropdown"
                                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path :class="{
                                        hidden: showingNavigationDropdown,
                                        'inline-flex': !showingNavigationDropdown,
                                    }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 6h16M4 12h16M4 18h16" />
                                    <path :class="{
                                        hidden: !showingNavigationDropdown,
                                        'inline-flex': showingNavigationDropdown,
                                    }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>

                    </div>
                </div>


                <div :class="{ block: showingNavigationDropdown, hidden: !showingNavigationDropdown }" class="sm:hidden">
                    <div class="pt-2 pb-3 space-y-1">
                        <ResponsiveNavLink to="/">
                            Empleados
                        </ResponsiveNavLink>
                        <ResponsiveNavLink to="/">
                            Asistencias
                        </ResponsiveNavLink>
                    </div>


                    <div class="pt-4 pb-1 border-t border-gray-200">
                        <div v-if="authStore.user.data" class="px-4">
                            <div class="font-medium text-base text-gray-800">
                                {{ authStore.user.data.name }}
                            </div>
                            <div class="font-medium text-sm text-gray-500">
                                {{ authStore.user.data.email }}
                            </div>
                        </div>

                        <div class="mt-3 space-y-1">

                            <a @click="logout"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                Salir
                            </a>
                        </div>
                    </div>

                </div>
            </nav>

            <!-- Page Heading -->
            <header class="bg-white shadow">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <slot name="header" />
                </div>
            </header>

            <!-- Page Content -->
            <main>
                <slot />
            </main>
        </div>
    </div>
</template>
