<script setup>
import { ref } from 'vue';
import ErrorLabel from '../../components/ErrorLabel.vue';
import GuestLayaout from '../../layaouts/GuestLayout.vue';
import InputLabel from '../../components/InputLabel.vue';
import PrimaryButton from '../../components/PrimaryButton.vue';
import TextInput from '../../components/TextInput.vue';
import NavLink from '../../components/NavLink.vue';
import { useAuthStore } from '../../stores/AuthStore';

const authStore = useAuthStore();

const errors = ref(null);

const form = {
    email: '',
    password: '',
    remember: false,
};

const iniciarSesion = async () => {
    await authStore.login(form).catch((error) => errors.value = error.response.data)
}


</script>

<template >
    <GuestLayaout>
        <form @submit.prevent="iniciarSesion">
            <ErrorLabel v-if="errors" :message="errors.message"
            class="mb-2"/>
            <div>
                <InputLabel for="email" value="Email" />

                <TextInput id="email" type="email" class="mt-1 block w-full" v-model="form.email" required autofocus
                    autocomplete="username" />

            </div>

            <div class="mt-4">
                <InputLabel for="password" value="Password" />

                <TextInput id="password" type="password" class="mt-1 block w-full" v-model="form.password" required
                    autocomplete="current-password" />

            </div>

            <div class="flex items-center justify-end mt-4">
                <NavLink :to="'/registrarse'"
                    class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Registrarse
                </NavLink>

                <PrimaryButton class="bg-lime-500 hover:bg-lime-600 ml-4" :class="{ 'opacity-25': form.processing }"
                    :disabled="form.processing">
                    Acceder
                </PrimaryButton>
            </div>
        </form>
    </GuestLayaout>
</template>
