<template>
    <GuestLayout>
      <form @submit.prevent="register">
        <ErrorLabel v-if="errors" :message="errors.message"  class="mb-2" />
            <div>
                <InputLabel for="name" value="Name" />
                <TextInput
                    id="name"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.name"
                    required
                    autofocus
                    autocomplete="name"
                />

                
            </div>

            <div class="mt-4">
                <InputLabel for="email" value="Email" />

                <TextInput
                    id="email"
                    type="email"
                    class="mt-1 block w-full"
                    v-model="form.email"
                    required
                    autocomplete="username"
                />

                
            </div>

            <div class="mt-4">
                <InputLabel for="password" value="Password" />

                <TextInput
                    id="password"
                    type="password"
                    class="mt-1 block w-full"
                    v-model="form.password"
                    required
                    autocomplete="new-password"
                />

            </div>

            <div class="mt-4">
                <InputLabel for="password_confirmation" value="Confirm Password" />

                <TextInput
                    id="password_confirmation"
                    type="password"
                    class="mt-1 block w-full"
                    v-model="form.password_confirmation"
                    required
                    autocomplete="new-password"
                />

                
            </div>

            <div class="flex items-center justify-end mt-4">
                <NavLink
                    to="/iniciar-sesion"    
                    class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                    Iniciar sesion?
                </NavLink>

                <PrimaryButton class="bg-lime-500 hover:bg-lime-600 ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Registrarse
                </PrimaryButton>
            </div>
        </form>
    </GuestLayout>
</template>

<script setup>
import {ref} from 'vue';
import PrimaryButton from '../../components/PrimaryButton.vue'
import InputLabel from '../../components/InputLabel.vue';
import TextInput from '../../components/TextInput.vue';
import ErrorLabel from '../../components/ErrorLabel.vue';
import GuestLayout from '../../layaouts/GuestLayout.vue';
import NavLink from '../../components/NavLink.vue';
import { useAuthStore } from '../../stores/AuthStore';

const form = {
    name: '',
    email: '',
    password: '',
    password_confirmation: '',
}

const errors = ref(null);

const register = async() => {
    await useAuthStore().register(form).catch((error)=>errors.value = error.response.data);
}



</script>